---
title: Just a blog, I guess
layout: layouts/home.njk
description: I'm a hot mess of enby from the UK, and this is my blog!
date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>